*{
    padding: 0;
    margin: 0;
}

body{
    direction: rtl;
    background-color: rgb(240, 240, 240);
}

#nav{
    position: sticky;
    top: 0px;
    background-color: white;
    width: 100%; 
    z-index: 99;
}


#continer{
    padding: 10px 0px;
    
}

#searchBox{
    position: relative; width: 50%;
    right: 50%; transform: translateX(50%);
    padding: 10px; border-radius: 8px;
    padding-right: 40px; font-size: 15px;
    border: solid 2px rgba(0, 0, 0, 0.158) ;
    transition: .5s;
}

#searchBox:focus{
    border-radius: 15px;
}

#searchIcon{
    position: relative; cursor: pointer;
    width:30px;height:30px;
    left:24.7%;
}

#nameSite{
    position: absolute;
    font-family:cinema;
    font-size: 3rem;
    top: -8px; right: 20px;
    color: red;
}

#shopping{
    width: 40px; height: 40px;
    position: relative; float: left;
    left: 200px; cursor: pointer;
}

#circleRed{
    position: relative;
    display: block; border-radius: 50%;
    width: 15px; height: 15px;
    background-color: red;
    text-align: center;right: 22px;
    top: 5px; 
}

#divar{
    display: block; float: left;
    width: 2px; height: 20px;
    background-color: rgba(0, 0, 0, 0.267);
    position: relative; border-radius: 25px;
    left: 140px; top: 11px;
}

#signuporsignin{
    position: relative; float: left;
    background-color: red; color: white;
    padding: 10px; border-radius: 10px; 
    box-shadow: 0px 0px 5px red;
    transition: .5s; cursor: pointer;
}

#signuporsignin:hover{
    box-shadow: 0px 0px 15px red;
}

#options{
    padding: 13px;
}


.items{
    cursor: pointer; display: inline;
    padding: 10px; margin: 5px;
    border: solid 0px transparent;
    border-bottom-width: 3px;
    transition: .5s;
}


.items:hover{
    border: solid 0px red;
    border-bottom-width: 3px;
    border-radius: 8px;
}

.swiper {
    width: 95%;
    height: 95%;
    margin: 20px;
    border-radius: 25px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.199);
}

.swiper-slide {
    display: flex;
    justify-content:center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#popText{
    display: inline-block;
    position: relative;
    right: 50%; transform: translateX(50%);
    padding: 20px; color: #ff0000;
}

#populer{
    display: flex;
    flex-direction:row;
    justify-content: center;
    padding: 10px 0px;
}

#populer .row{
    display: block;
    width: 22%; 
    margin: 0px 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.274);
    border-radius: 25px; border: solid 1px rgba(0, 0, 0, 0.171);
    transition: .5s;
}

#populer .row:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.568);
}

.row img{
    width: 100%;
    border-radius: 25px;
}

.row h4,h5{
    text-align: center;
    padding: 5px;
}

.row h5{
    color: #ff0000;
}

#offerContiner{
    margin: 10px auto;
    width: 100%; height: 500px;
    background-color: #ff0000;
    background-image: url("./1103-confetti-outline.gif");
    background-size: 50px;
    
}

#bgoffer{
    width: 100%; height: 500px;
    background:linear-gradient(to right , rgba(255, 0, 0, 0.349) , rgb(255, 0, 0) 90%);
}

#offerText{
    position: absolute;
    width: 390px; 
    text-align: center;
    font-family: adan; 
    font-size: 7rem;
}

#offerPost{
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 85%; margin-right: 30%;
}

#offerPost .row{
    width: 30%;
    margin: 0px 15px;
    background-color: white;
    border-radius: 25px;
}
























/* ready class and font */

.font_bold{
    font-family: alibaba_bold;
}

.font_black{
    font-family: alibaba_black;
}

.font_regular{
    font-family: alibaba_regular;
}

@font-face {
    font-family: 'alibaba_black';
    src: url('./alibaba-black-4557273d.woff') format('woff');
}

@font-face {
    font-family: 'alibaba_bold';
    src: url('./alibaba-bold-4edf9c7b.woff') format('woff');
}

@font-face {
    font-family: 'alibaba_regular';
    src: url('./alibaba-regular-588b6fcf.woff') format('woff');
}

@font-face {
    font-family: 'adan';
    src: url('./Sultan-Adan-2Line.ttf') format('truetype');
}

@font-face {
    font-family: 'cinema';
    src: url('./Cinema-Full.ttf') format('truetype');
}
